.lista {
  width: fit-content;
}

.lista .ativo {
  color: #fff;
  background-color: #008cba;
}

.lista ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #fff;
}

.lista li:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.lista li:hover:not(:first-child) {
  background-color: #eef8ff;
}

.lista li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 3px 0 3px 10px;
  text-decoration: none;
  color: #525252;
}

.lista li a .seta {
  color: #bfbfbf;
}

.lista li:first-child {
  color: #525252;
  font-weight: bold;
  pointer-events: none;
}

.lista li:first-child .seta {
  color: #fff;
}
